.container {
  border: 1px solid var(--text-green);
  border-radius: 15px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: 400px;
}

.inputContainers {
  border: 1px solid var(--text-green);
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 270px;
}

.inputContainers input {
  outline: none;
  background-color: black;
  color: var(--text-green);
  border: none;
  padding-bottom: 2px;
  font-size: 20px;
  width: 100%;
}

.inputContainers span {
  font-size: 25px;
}

.registerBtn {
  cursor: pointer;
  margin-top: 15px;
  width: 270px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid black;
  background-color: var(--text-green);
  color: black;
  transition: background-color 200ms;
}

.registerBtn:hover {
  border: 1px solid var(--text-green);
  background-color: black;
  color: var(--text-green);
}

@media only screen and (min-width: 1441px) {
  .registerForm {
  
    width: 350px;
    height: 450px;
  }

  .inputContainers {
    gap: 20px;
    width: 300px;
  }

  .inputContainers input {
    font-size: 30px;
  }

  .inputContainers span {
    font-size: 35px;
  }

  .registerBtn {
    font-size: 30px;
    width: 300px;
  }
}
